--
-- PostgreSQL database dump
--

-- Dumped from database version 10.4 (Debian 10.4-2.pgdg90+1)
-- Dumped by pg_dump version 10.4 (Debian 10.4-2.pgdg90+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_club_id_fkey;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS registrations_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS registrations_approved_by_fkey;
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS registrations_activity_id_fkey;
ALTER TABLE IF EXISTS ONLY public.club_members DROP CONSTRAINT IF EXISTS club_members_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.club_members DROP CONSTRAINT IF EXISTS club_members_club_id_fkey;
ALTER TABLE IF EXISTS ONLY public.activity_images DROP CONSTRAINT IF EXISTS activity_images_activity_id_fkey;
ALTER TABLE IF EXISTS ONLY public.activities DROP CONSTRAINT IF EXISTS activities_new_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.activities DROP CONSTRAINT IF EXISTS activities_new_club_id_fkey;
DROP INDEX IF EXISTS public.users_email;
DROP INDEX IF EXISTS public.users_club_id;
DROP INDEX IF EXISTS public.sessions_user;
DROP INDEX IF EXISTS public.idx_registrations_user;
DROP INDEX IF EXISTS public.idx_registrations_status;
DROP INDEX IF EXISTS public.idx_registrations_approved_by;
DROP INDEX IF EXISTS public.idx_clubs_status;
DROP INDEX IF EXISTS public.idx_clubs_name;
DROP INDEX IF EXISTS public.idx_club_members_user;
DROP INDEX IF EXISTS public.idx_club_members_role;
DROP INDEX IF EXISTS public.idx_club_members_club_role;
DROP INDEX IF EXISTS public.idx_club_members_club;
DROP INDEX IF EXISTS public.idx_activities_status_start;
DROP INDEX IF EXISTS public.idx_activities_status;
DROP INDEX IF EXISTS public.idx_activities_start_date;
DROP INDEX IF EXISTS public.idx_activities_registration_deadline;
DROP INDEX IF EXISTS public.idx_activities_club;
DROP INDEX IF EXISTS public.activity_images_is_cover;
DROP INDEX IF EXISTS public.activities_created_by;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS registrations_pkey;
ALTER TABLE IF EXISTS ONLY public.migrations DROP CONSTRAINT IF EXISTS migrations_pkey;
ALTER TABLE IF EXISTS ONLY public.clubs DROP CONSTRAINT IF EXISTS clubs_pkey;
ALTER TABLE IF EXISTS ONLY public.club_members DROP CONSTRAINT IF EXISTS club_members_pkey;
ALTER TABLE IF EXISTS ONLY public.club_members DROP CONSTRAINT IF EXISTS club_members_club_id_user_id_key;
ALTER TABLE IF EXISTS ONLY public.activity_images DROP CONSTRAINT IF EXISTS activity_images_pkey;
ALTER TABLE IF EXISTS ONLY public.activities DROP CONSTRAINT IF EXISTS activities_new_pkey;
ALTER TABLE IF EXISTS public.activities ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.sessions;
DROP TABLE IF EXISTS public.registrations;
DROP TABLE IF EXISTS public.migrations;
DROP TABLE IF EXISTS public.clubs;
DROP TABLE IF EXISTS public.club_members;
DROP TABLE IF EXISTS public.activity_images;
DROP SEQUENCE IF EXISTS public.activities_id_seq;
DROP TABLE IF EXISTS public.activities;
DROP EXTENSION IF EXISTS "uuid-ossp";
DROP EXTENSION IF EXISTS plpgsql;
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    location text,
    club_id uuid,
    max_participants integer DEFAULT 10 NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    registration_deadline timestamp with time zone,
    status text DEFAULT 'draft'::text NOT NULL,
    image_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    registration_start_date timestamp with time zone,
    registration_end_date timestamp with time zone,
    start_time time without time zone,
    end_time time without time zone,
    registration_start_time time without time zone,
    registration_end_time time without time zone,
    CONSTRAINT activities_new_check CHECK (((end_date IS NULL) OR (start_date IS NULL) OR (end_date >= start_date))),
    CONSTRAINT activities_new_check1 CHECK (((registration_deadline IS NULL) OR (start_date IS NULL) OR (registration_deadline <= start_date))),
    CONSTRAINT activities_new_max_participants_check CHECK ((max_participants > 0))
);


ALTER TABLE public.activities OWNER TO postgres;

--
-- Name: activities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.activities_id_seq OWNER TO postgres;

--
-- Name: activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activities_id_seq OWNED BY public.activities.id;


--
-- Name: activity_images; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.activity_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    image_url text NOT NULL,
    is_cover boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    activity_id integer NOT NULL
);


ALTER TABLE public.activity_images OWNER TO "user";

--
-- Name: club_members; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.club_members (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    club_id uuid,
    user_id uuid,
    role text DEFAULT 'member'::text NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.club_members OWNER TO "user";

--
-- Name: clubs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.clubs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    description text,
    image_url text,
    status text DEFAULT 'active'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.clubs OWNER TO "user";

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    data jsonb NOT NULL
);


ALTER TABLE public.migrations OWNER TO "user";

--
-- Name: registrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.registrations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    status text DEFAULT 'pending'::text NOT NULL,
    approved_by uuid,
    approved_at timestamp with time zone,
    registered_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    activity_id integer NOT NULL,
    rejection_reason text
);


ALTER TABLE public.registrations OWNER TO "user";

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sessions OWNER TO "user";

--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'student'::text,
    name text,
    status text DEFAULT 'active'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    club_id uuid
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: activities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities ALTER COLUMN id SET DEFAULT nextval('public.activities_id_seq'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: activity_images; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: club_members; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.club_members (id, club_id, user_id, role, joined_at, created_at, updated_at) FROM stdin;
b9e08e58-576b-4843-8f28-009bd2f64e91	e3b09bd9-e1ac-4b17-8d60-1d723ef8efa2	dce857da-0acf-4857-bd08-4f8638ab7a54	president	2025-09-27 10:50:58.622989+00	2025-09-27 10:50:58.622989+00	2025-09-27 10:50:58.622989+00
0e9bd74b-90cf-4218-bb90-6a77d4ca746c	e3b09bd9-e1ac-4b17-8d60-1d723ef8efa2	c17aa6ca-974e-4b1a-8a80-5af93ae2839d	president	2025-09-27 11:04:33.08651+00	2025-09-27 11:04:33.08651+00	2025-09-27 11:04:33.08651+00
\.


--
-- Data for Name: clubs; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: registrations; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.sessions (id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activities_id_seq', 12, true);


--
-- Name: activities activities_new_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_new_pkey PRIMARY KEY (id);


--
-- Name: activity_images activity_images_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_images
    ADD CONSTRAINT activity_images_pkey PRIMARY KEY (id);


--
-- Name: club_members club_members_club_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.club_members
    ADD CONSTRAINT club_members_club_id_user_id_key UNIQUE (club_id, user_id);


--
-- Name: club_members club_members_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.club_members
    ADD CONSTRAINT club_members_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: registrations registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: activities_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_created_by ON public.activities USING btree (created_by);


--
-- Name: activity_images_is_cover; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX activity_images_is_cover ON public.activity_images USING btree (is_cover);


--
-- Name: idx_activities_club; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_club ON public.activities USING btree (club_id);


--
-- Name: idx_activities_registration_deadline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_registration_deadline ON public.activities USING btree (registration_deadline);


--
-- Name: idx_activities_start_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_start_date ON public.activities USING btree (start_date);


--
-- Name: idx_activities_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_status ON public.activities USING btree (status);


--
-- Name: idx_activities_status_start; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_status_start ON public.activities USING btree (status, start_date);


--
-- Name: idx_club_members_club; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_club_members_club ON public.club_members USING btree (club_id);


--
-- Name: idx_club_members_club_role; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_club_members_club_role ON public.club_members USING btree (club_id, role);


--
-- Name: idx_club_members_role; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_club_members_role ON public.club_members USING btree (role);


--
-- Name: idx_club_members_user; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_club_members_user ON public.club_members USING btree (user_id);


--
-- Name: idx_clubs_name; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_clubs_name ON public.clubs USING btree (name);


--
-- Name: idx_clubs_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_clubs_status ON public.clubs USING btree (status);


--
-- Name: idx_registrations_approved_by; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_registrations_approved_by ON public.registrations USING btree (approved_by);


--
-- Name: idx_registrations_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_registrations_status ON public.registrations USING btree (status);


--
-- Name: idx_registrations_user; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_registrations_user ON public.registrations USING btree (user_id);


--
-- Name: sessions_user; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX sessions_user ON public.sessions USING btree (user_id);


--
-- Name: users_club_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX users_club_id ON public.users USING btree (club_id);


--
-- Name: users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX users_email ON public.users USING btree (email);


--
-- Name: activities activities_new_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_new_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: activities activities_new_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_new_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: activity_images activity_images_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_images
    ADD CONSTRAINT activity_images_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activities(id) ON DELETE CASCADE;


--
-- Name: club_members club_members_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.club_members
    ADD CONSTRAINT club_members_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: club_members club_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.club_members
    ADD CONSTRAINT club_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: registrations registrations_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activities(id) ON DELETE CASCADE;


--
-- Name: registrations registrations_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- Name: registrations registrations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

